# Dart & Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Build outputs
build/
outputs.json
outputs/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner.xcworkspace
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
*.xcworkspace
*.xcuserstate
*.xcscmblueprint

# Android
.android/
gradle/
app/*.iml
android/.gradle/
android/app/*.iml
android/local.properties
android/app/build/

# VS Code
.vscode/
*.code-workspace

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/
*.idea/

# Mac
.DS_Store

# Others
*.log
*.swp
*.lock
*.lock.json

# If you have a Windows build (Desktop)
windows/runner/Debug/
windows/runner/Release/
windows/runner/Profiling/

# If you have a Linux build (Desktop)
linux/Makefile
linux/build/
linux/ephemeral_artifacts/
linux/Flutter/ephemeral/

# If you have a macOS build (Desktop)
macos/Flutter/ephemeral/
macos/Runner.xcworkspace
macos/Pods/
macos/Runner/GeneratedPluginRegistrant.*
